
<h2>Enter your details below to sign up
<br> to order products on facker.com</h2>

<div id = "sign_up_form">

  <!-- not sure if need to add method post below?? -->
  <%= form_for :user, url: users_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, {placeholder: "name"} %>

    <%= f.label :email %>
    <%= f.text_field :email, {placeholder: "email"} %>

    <%= f.label :password %>
    <%= f.password_field :password, {placeholder: "password"} %>

    <%= f.label :address, 'Street Address' %>
    <%= f.text_field :address, {placeholder: "street address"} %>

    <%= f.submit 'Sign Up' %>

  <% end %>

  <p><%= @errors %></p>

  </form>
</div>
