<% if @user %>
  <h4>Welcome to faker.com <%= @user.name %></h4>
<% end %>

<h1>Products</h1>

<div id = 'products_list'>
  <ul>
    <% @products.each do |product| %>
    <li>
      <h3> <%= link_to product.name, product_path(product) %> </h3>
   </li>
    <% end %>
  </ul>
  <p>To order products you will need to sign in or sign up.</p>
  <p>To view details of a product please follow the above links</p>
</div>


<% unless @user %>
  <div id = "sign_in_form">

    <%= form_for :user, url: sign_in_path do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email, {placeholder: "email"} %>

      <%= f.label :password %>
      <%= f.password_field :password, {placeholder: "password"} %>

      <%= f.submit 'Sign In' %>
    <% end %>

    <p><%= flash[:error] %></p>





    <%= button_to 'Sign Up', new_user_path, method: 'get' %>

  </div>

<% end %>

