<!DOCTYPE html>
<html>
  <head>
    <title>FakerShoppingCart</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id = "container">
      <header>
        <h1>faker.com</h1>
        <nav>
           <ul>
              <li>
                <button type="button"> <%= link_to 'Products', products_path %> </button>
              </li>
              <li>
                <a href="/show_cart"><button type="button">Your Cart</button></a>
              </li>
              <li>
                <%= button_to 'Sign Out', sign_out_path, method: 'delete' %>
              </li>
           </ul>
         </nav>
      </header>



      <main role="main">
        <%= yield %>
      </main>

      <footer>
        <p>faker.com &copy; 2015</p>
      </footer>
    </div>

  </body>
</html>





